<html>
    <head>
        <title>{{ title }} Rock Paper Scissors</title>

        <body>
            {% extends "game.html" %}

            {% block content %}

            <h1>My Todo List!</h1>

            <form action="/rock/scissors" method="post">
            <label for="Title">Enter Your Rock/Paper/Scissors</label>
            <input type="text" name="title" id="title">

            <input type="submit" value="Submit Your Answers!">


            </form>

        </body>

    </head>
</html>